@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
">
    <h1>Добро пожаловать!</h1><br /><br />
    <h3>Составьте свое расписание в генераторе <a asp-page="/Schedule">расписания!</a></h3>
</div>