@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1><br/><br/> 
    <h4>Составьте свое расписание в генераторе <a asp-area="" asp-page="/Schedule">расписания!</a></h4>
</div>
