@page
@model ScheduleModel
@{
    ViewData["Title"] = "Генератор расписания";
    var Schedule = Model.Schedules;
}

<h2>Генератор расписания</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewItem">Введите событие:</label><br />
        <input asp-for="NewItem" autofocus autocomplete="off"/><br />
        <span asp-validation-for="NewItem" class="text-danger"></span><br />
        <button type="submit">Добавить</button><br /><br />
    </div>
</form>

@if (Schedule.Any())
{
    <h3>Ваше расписание:</h3>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>#</th>
                <th>Событие</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Schedule.Count; i++)
            {
                <tr>
                    <td>@(i + 1).</td>
                    <td>@Schedule[i]</td>
                </tr>
            }
        </tbody>
    </table>
}
