@page
@model ScheduleModel
@{
    ViewData["Title"] = "Генератор расписания";
    var index = 1;
}

<h2>Генератор расписания</h2>

<form method="post">
    <label asp-for="NewItem">Введите событие:</label><br />
    <input asp-for="NewItem" autofocus autocomplete="off" /><br />
    <span asp-validation-for="NewItem" class="text-danger"></span><br />
    <button type="submit">Добавить</button><br /><br />
</form>

@if (Model.Schedule.Any())
{
    <h3>Ваше расписание:</h3>
    <table border="1" cellpadding="5">
        <thead>
            <tr>
                <th>#</th>
                <th>Событие</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var schedule in Model.Schedule)
            {
                <tr>
                    <td>@(index++).</td>
                    <td>@schedule.Title</td>
                    <td>
                        <form method="post" asp-page-handler="DeleteItem">
                            <input type="hidden" name="id" value="@schedule.Id"/>
                            <button type="submit">❌</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" asp-page-handler="Clear">
        <button type="submit">Очистить расписание</button>
    </form>
}
